.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/extdata/
inst/output/
inst/output/split working script.R
inst/output/working script.R
inst/notebooks/*_cache/
inst/notebooks/*_files/
*.csv
*.pdf

inst/shiny/*/rsconnect/*.*
inst/shiny/*/.Renviron
